<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Page</title>
    <meta name="description" content="The HTML5 Herald">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/sample/css/styles.css?v=1.0">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
<div class="wrapper">
    <div class="left-block">
        <div class="burger"></div>
        <div class="center-block">
            <a href="">
                <div class="icon person-nav"></div>
            </a>
            <a href="">
                <div class="icon sound-nav"></div>
            </a>
            <a href="">
                <div class="icon notes-nav"></div>
            </a>
            <a href="">
                <div class="icon line-nav"></div>
            </a>
            <a href="">
                <div class="icon suitcase-nav"></div>
            </a>
            <a href="">
                <div class="icon user-nav"></div>
            </a>
            <a href="">
                <div class="icon letter-nav"></div>
            </a>
            <a href="">
                <div class="icon money-nav"></div>
            </a>
        </div>
        <div class="bottom-block">
            <a href="">
                <div class="icon arr-nav"></div>
            </a>
            <a href="">
                <div class="icon track-nav"></div>
            </a>
            <a href="">
                <div class="icon page-nav"></div>
            </a>
            <a href="">
                <div class="pointer-nav"></div>
            </a>
        </div>
    </div>
    <div class="main">
        <div class="main-block">
            <div class="main-block__upper">
                <h1>Пободрать блюдо на ужин</h1>
                <div class="nav">
                    <a href="#">Книга рецептов</a>
                </div>
                <div class="info-block">
                    <div class="flex-container">
                        <div class="search-panel">
                            <label class="search__label" for="search__input">Введите названия продуктов которые имеются у вас:</label>
                            <div class="search">
                                <input type="text" id="search__input">
                                <button class="search__button">Подобрать рецепт</button>
                            </div>
                        </div>
                        <div class="block-recipes">
                            <div class="recipe">
                                <div class="recipe__image">
                                    <img src="../static/sample/img/image-recipe.jpg" alt="Image recipe">
                                </div>
                                <div class="recipe__name">
                                    Лазанья классическая с мясом
                                </div>
                                <div class="recipe__ingredients">
                                    <span class="ingredient_quantity"><span class="ingredient">Мясной фарш</span><span class="quantity">600 г.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Соус болоньезе</span><span class="quantity">600 г.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Сливочное масло</span><span class="quantity">60 г.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Пшеничная мука</span><span class="quantity">2,5 ст.л.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Оливковое масло</span><span class="quantity">2 ст.л.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Молоко</span><span class="quantity">750 мл</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Готовые сухие листы лазаньи</span><span class="quantity">10 шт.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Твердый сыр</span><span class="quantity">500 г.</span></span>
                                </div>
                            </div>
                            <div class="recipe">
                                <div class="recipe__image">
                                    <img src="../static/sample/img/image-recipe.jpg" alt="Image recipe">
                                </div>
                                <div class="recipe__name">
                                    Лазанья классическая с мясом
                                </div>
                                <div class="recipe__ingredients">
                                    <span class="ingredient_quantity"><span class="ingredient">Мясной фарш</span><span class="quantity">600 г.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Соус болоньезе</span><span class="quantity">600 г.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Сливочное масло</span><span class="quantity">60 г.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Пшеничная мука</span><span class="quantity">2,5 ст.л.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Оливковое масло</span><span class="quantity">2 ст.л.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Молоко</span><span class="quantity">750 мл</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Готовые сухие листы лазаньи</span><span class="quantity">10 шт.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Твердый сыр</span><span class="quantity">500 г.</span></span>
                                </div>
                            </div>
                            <div class="recipe">
                                <div class="recipe__image">
                                    <img src="../static/sample/img/image-recipe.jpg" alt="Image recipe">
                                </div>
                                <div class="recipe__name">
                                    Лазанья классическая с мясом
                                </div>
                                <div class="recipe__ingredients">
                                    <span class="ingredient_quantity"><span class="ingredient">Мясной фарш</span><span class="quantity">600 г.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Соус болоньезе</span><span class="quantity">600 г.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Сливочное масло</span><span class="quantity">60 г.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Пшеничная мука</span><span class="quantity">2,5 ст.л.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Оливковое масло</span><span class="quantity">2 ст.л.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Молоко</span><span class="quantity">750 мл</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Готовые сухие листы лазаньи</span><span class="quantity">10 шт.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Твердый сыр</span><span class="quantity">500 г.</span></span>
                                </div>
                            </div>
                            <div class="recipe">
                                <div class="recipe__image">
                                    <img src="../static/sample/img/image-recipe.jpg" alt="Image recipe">
                                </div>
                                <div class="recipe__name">
                                    Лазанья классическая с мясом
                                </div>
                                <div class="recipe__ingredients">
                                    <span class="ingredient_quantity"><span class="ingredient">Мясной фарш</span><span class="quantity">600 г.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Соус болоньезе</span><span class="quantity">600 г.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Сливочное масло</span><span class="quantity">60 г.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Пшеничная мука</span><span class="quantity">2,5 ст.л.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Оливковое масло</span><span class="quantity">2 ст.л.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Молоко</span><span class="quantity">750 мл</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Готовые сухие листы лазаньи</span><span class="quantity">10 шт.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Твердый сыр</span><span class="quantity">500 г.</span></span>
                                </div>
                            </div>
                            <div class="recipe">
                                <div class="recipe__image">
                                    <img src="../static/sample/img/image-recipe.jpg" alt="Image recipe">
                                </div>
                                <div class="recipe__name">
                                    Лазанья классическая с мясом
                                </div>
                                <div class="recipe__ingredients">
                                    <span class="ingredient_quantity"><span class="ingredient">Мясной фарш</span><span class="quantity">600 г.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Соус болоньезе</span><span class="quantity">600 г.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Сливочное масло</span><span class="quantity">60 г.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Пшеничная мука</span><span class="quantity">2,5 ст.л.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Оливковое масло</span><span class="quantity">2 ст.л.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Молоко</span><span class="quantity">750 мл</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Готовые сухие листы лазаньи</span><span class="quantity">10 шт.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Твердый сыр</span><span class="quantity">500 г.</span></span>
                                </div>
                            </div>
                            <div class="recipe">
                                <div class="recipe__image">
                                    <img src="../static/sample/img/image-recipe.jpg" alt="Image recipe">
                                </div>
                                <div class="recipe__name">
                                    Лазанья классическая с мясом
                                </div>
                                <div class="recipe__ingredients">
                                    <span class="ingredient_quantity"><span class="ingredient">Мясной фарш</span><span class="quantity">600 г.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Соус болоньезе</span><span class="quantity">600 г.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Сливочное масло</span><span class="quantity">60 г.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Пшеничная мука</span><span class="quantity">2,5 ст.л.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Оливковое масло</span><span class="quantity">2 ст.л.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Молоко</span><span class="quantity">750 мл</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Готовые сухие листы лазаньи</span><span class="quantity">10 шт.</span></span>
                                    <span class="ingredient_quantity"><span class="ingredient">Твердый сыр</span><span class="quantity">500 г.</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">

            </div>


        </div>
    </div>
</div>


<script language="javascript">

</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="../static/sample/js/script.js"></script>
</body>
</html>